body {
  background-color: black;
}
.main {
  position: relative;
  top: 250px;
  left: 40%;
}
.bodermain {
  position: absolute;
  top: 20px;
  left: -30px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  box-shadow: 0px 0px 35px rgb(90, 193, 225), 0px 0px 35px rgb(107, 191, 216);
  border-top: 18px solid rgb(61, 160, 190);
  border-left: 18px solid rgb(0, 0, 0);
  border-right: 18px solid rgb(0, 0, 0);
  border-bottom: 18px solid rgb(61, 160, 190);
  animation: spinmain 2s linear infinite;
}
@keyframes spinmain {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.boder1 {
  position: absolute;
  top: 50px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0px 0px 25px rgb(90, 193, 225);
  border-top: 18px solid rgb(22, 101, 170);
  border-left: 18px solid rgb(0, 0, 0);
  border-right: 18px solid rgb(0, 0, 0);
  border-bottom: 18px solid rgb(22, 101, 170);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.boder2 {
  position: absolute;
  top: 80px;
  left: 29px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 45px rgb(92, 188, 225),
    inset 0px 0px 45px rgb(122, 192, 220);
  border-top: 18px solid rgb(0, 0, 0);
  border-left: 18px solid rgb(22, 101, 170);
  border-right: 18px solid rgb(22, 101, 170);
  border-bottom: 18px solid rgb(0, 0, 0);
  animation: spin1 2s linear infinite;
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
h1 {
  position: relative;
  top: 320px;
  left: 55px;
  color: rgb(106, 167, 205);
  text-shadow: 0px 0px 10px rgb(111, 209, 218);
}
#mic {
  font-size: 20px;
  position: absolute;
  border-radius: 40%;
  top: 370px;
  left: 75px;
  filter: drop-shadow(0px 0px 5px rgb(111, 209, 218));
}
p {
  position: absolute;
  top: 420px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  width: fit-content;
}
